/* Menu Bar*/

.logo-design{
    width:30%;
    height:100%;
    padding-top: 20px;
    margin-left: -50px;
}

.nav-design{
    padding-top: 20px; 
    padding-left: 20px;
}




/* Business section*/

.section {
    position: relative;
    height: 530px; /* Adjust height as needed */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('environment_image/environment.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
  }
  
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .rectangle-box {
    background-color: rgba(245, 247, 245, 0.8); /* Green color with opacity */
    padding: 20px;
    border-radius: 5px;
    width:35%;
  }
  
  .title {
    color:green; /* White text color */
    font-size: 35px;
    margin: 0;
  }
  
  .paragraph {
    color: #535353; /* White text color */
    font-size: 13px;
    margin: 10px 0 0;
  }
  

/* Towards Sustainable Environment Details Section*/




/*Pic & title section*/
.full-container {
    background-image: url('environment_image/bird_banana.jpg');
    background-size: cover;
    height: 700px;
    position: relative;
  }

  .rectangle {
    background-color: #cccccc;
    color: #5a5a5a;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size:30px;
  }
  

    /*useful links*/

    .columnn {
      width: 33.33%;
      float: left;
      padding: 10px;
      box-sizing: border-box;
      background-color: #302c2c;
      color: white;
      
  }

  .titlee {
      font-weight: bold;
      color: white;
  }

  .paragraphh {
      color: rgb(143, 140, 140);
      margin-top:35px;
      justify-content: center;
  }

  .navigationn {
     
    
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .first-usefull-link{
    color: rgb(143, 140, 140);
      margin-top:35px;
  }

  .align-useful-link{
    margin-left: 80px;
  }

  .alignn-third-column{
     
      float: left;
      padding: 10px;
      box-sizing: border-box;
      background-color: #302c2c;
      color: white;
  }
  
  .menu-itemm {
    color: rgb(143, 140, 140);
    margin-top:37px;
      position: relative;
      cursor: pointer;
      transition: color 0.3s;
  }

  .third-col-menu{
    margin-top:73px;
  }

  .menu-itemm:hover {
      color: #c0c0c0;
  }

  .underlinee {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s;
  }

  .menu-itemm:hover .underlinee {
      transform: scaleX(1);
  }


  
  /* Footer*/

  bodyy {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-text {
    display: inline-block;
}

.vertical-line {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 10px;
    vertical-align: middle;
}

.small-text {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}

.logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}